#div {
  background-image: url('https://cdn3.volusion.com/mtwsb.danrt/v/vspfiles/photos/STTXMON-2.jpg?1525396066');
  background-size: cover
}
#ul {
  list-style: none;
  
}
.amber {
  background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/regal.png');
  margin-bottom: 20px;
  width: 40%;
}